{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1 class="rdvtitle">Tous les Rendez-vous</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Actions</th>
                {# <th>Background_color</th>
                <th>Border_color</th>
                <th>Text_color</th> #}
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.id }}</td>
                <td>{{ calendar.title }}</td>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.description }}</td>
                <td>{{ calendar.categorie.nom }}</td>
                {# <td>{{ calendar.backgroundColor }}</td>
                <td>{{ calendar.borderColor }}</td>
                <td>{{ calendar.textColor }}</td> #}
                <td>
                <button type="button" class="btn btn-info">
									<a href="{{ path('editrdv', {'id': calendar.id}) }}">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</button>
								<button type="button" class="btn btn-danger">
									<a href="{{ path('calendar_delete', {'id': calendar.id}) }}">
										<i class="fas fa-trash-alt"></i>
									</a>
								</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
