

{% extends 'base.html.twig' %}

{% block title %}
	24K /Contact
{% endblock %}



{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}


{% block body %}
<div class="home color-change-2x ">
	
	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show" style="  font-size: 1.25em; font-family: jura; font-weight: bold; text-align: center; margin-bottom: 0rem;" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}


	<main class=" min-vh-100">
		<h1 class="animate__animated animate__slideInRight text-center fw-bold">Contact</h1>
    </main>


    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body bg-dark text-white">
                <h3 class="card-title bg-dark text-white text-center">Contactez nous!</h3>

                    <fieldset>
                        <div class="bg-dark text-white p-5 contact-form">

                            {{ form_start(contact_form) }}
                            <div class="mb-4 w-75">
                                {{ form_row(contact_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mail...'}}) }}
                            </div>
                            <div class="mb-4 w-75">
                                {{ form_row(contact_form.objet, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le motif de votre message...'}}) }}
                            </div>
                            <div class="mb-4 w-75">
                                {{ form_row(contact_form.message, {'attr': {'class': 'form-control', 'placeholder': 'Écrivez votre message...'}}) }}
                            </div>
                            <div class="mb-4">
                                <input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
                            </div>
                            {{ form_end(contact_form) }}

                        </div>
                    </fieldset> 
                    
                    
                    <ul class="info">
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i> Email : <a href="mailto:adresse@perso.fr"> adresse@perso.fr</a></p>
                        </li>

                        <li>
                            <p><i class="fas fa-phone-alt"></i> Tèl : <a href="Tel:+336xxxxxx50">06 XX XX XX 50</a></p>
                        </li>
                            
                        <li>
                            <p><i class="fab fa-telegram-plane"></i> Adresse : 9, rue Marc Seguin, 9400 Créteil</p>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4">
                <div id="maCarte"></div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}

<script>
    //on initialise la carte
    let carte = L.map('maCarte').setView([48.78506337401253, 2.435257738510173], 15);

    // On charge les "tuiles"
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: 'données © <a href="osm.org//copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a> ',
        minZoom: 1,
        maxZoom: 20
    }).addTo(carte);

    //On met en place un marqueur pour bien cibler la zone
    let marqueur = L.marker([48.78506337401253, 2.435257738510173]).addTo(carte);
    marqueur.bindPopup("<p class='marker'><b>Localisation fictive du studio 24 Carats Studio (Car il s'agit de l'Afpa)</b><p>");

</script>

{% endblock %}